[2017-07-12 11:38] sambitdash opened #1 "Extract text content from the PDF"
Extract text content from PDF. Here are some of the high level use cases.

1. Pure text based documents should be easily be converted to standard text formats like text, word document etc.
2. Document structure existing in a PDF document should be preserved as much as possible - Being a PDL, PDF text rendering does not depend on the content order. Hence, any marked information in the document in t

[2017-07-12 11:44] sambitdash opened #2 "Table picker for PDF"
Natural tabular objects in a PDF document should ideally be picked up for extraction.

The intent of the project is API development, hence it will be headless for most part. There may not be a WYSIWYG picker available unlike a reader. A heuristic table picker should scan the document for existence of table like structures and dump them in tabular HTML/CSS format or extracted image objects. In case

[2017-07-12 11:58] sambitdash opened #3 "Secured PDF document with X509 certificates"
Ability to open and honor security enabled PDFs. The standard security handler is implemented already but PKI based handler needs to be implemented.

[2017-07-12 12:00] sambitdash opened #4 "Support for JPEG filter"
Content filter for JPEG and JPEG2000 should be supported.

Since, these are special type filters whether decoding over direct streaming into the graphics channel for rendering should be reviewed.

[2017-07-12 12:02] sambitdash opened #5 "CCITT and JBIG2 decoding"
The filter supported in PDF so may be needed by some niche market.

[2017-07-20 13:21] etuini opened #6 "Feature request: add support for reading attachments"
This may be low on your priority list, but being able to read PDF attachments would be great. I deal with a lot of PDFs that have xml or excel attachments with the source data used to generate the PDF. There just aren't many tools for dealing with attachments - it seems most people use command line tools.

[2017-07-20 14:18] sambitdash commented on #6
PDF attachments are essentially annotations of file attachment type. Technically, the support exists in the current APIs.  If you will read the PDF spec and access the CosObject relevant to the annotations you are looking for using Cos layer APIs you can technically get what you needs with the current API. Let me see if I can provide you a code snippet for the same.

However, if you are looking fo

[2017-07-24 06:06] sambitdash opened #7 "Extract document structure from the PDF document"
This may not be very accurate but a good way to start understanding the document. The creators do not always provide the final reader intent of the document.

[2017-07-24 06:12] sambitdash opened #8 "ASCIIHexDecode should be vectorized"
The conversion is relatively simple. Hence, should be made a vector operation and not byte by byte read.

[2017-07-24 06:15] sambitdash opened #9 "Make CosXRefStream a special object type"
Currently they are merely CosStreams with a type.

[2017-07-24 06:18] sambitdash opened #10 "Move node traversal to AbstractTree or similar interface"

[2017-07-24 06:45] sambitdash opened #11 "Validate the document for tagged PDF."
Tagged PDF has important properties that can help in good text and graphics extraction for usage elsewhere. Hence, it's important to extract such information from PDFs.

[2017-07-25 12:12] sambitdash commented on #6
The 2 checkins above can address the need while the APIs are enhanced to support annots properly.

[2017-09-04 19:06] sambitdash commented on #1
Implemented for the following cases:

1. Tagged PDFs
2. For Type 1, TTF and T3 fonts without CMaps.

Not supported yet:

1. Symbol fonts
2. Composite T0 fonts
3.  CMaps

[2017-09-04 19:06] #1 closed

[2017-09-04 19:07] sambitdash opened #12 "Support text extraction for Symbol fonts"
At least Symbol and ZapfDingbats should be supported

[2017-09-04 19:08] sambitdash opened #13 "Text extraction for Type 0 fonts with ToUnicode CMaps should be supported."

[2017-09-04 19:10] sambitdash commented on #7
The document structure is being traversed as part of text extraction. The tags need to be added as a XML metadata overlay.

[2017-09-05 07:39] sambitdash commented on #12
https://github.com/sambitdash/PDFIO.jl/commit/7e9fb95e4cc5dc97da52ef1bc21d90831de50ef2 fixes this.

[2017-09-05 07:39] #12 closed

[2017-09-05 08:11] sambitdash opened #14 "Full PostScript parser / execution engine for font files and CMap reading"
May be picked up from a PostScript renderer like Cairo project as well. Currently, `Cairo.jl` does not expose such low level APIs.

[2017-09-06 00:40] sambitdash commented on #13
Fixed in: https://github.com/sambitdash/PDFIO.jl/commit/0e0e661ccea930c128e622f0439437253baadb72

[2017-09-06 00:40] #13 closed

[2017-10-02 06:50] sambitdash opened #15 "Honor text spacing btw text objects in TJ operator"
The text spaces in TJ operators can be used to simulate word spacing. Such should be supported in the text extractor.

[2017-10-03 22:23] sambitdash commented on #15
Workaround can address it for now.

[2017-10-03 22:23] #15 closed

[2017-10-20 10:01] wstaelens commented on #8
@sambitdash can you explain more how you can "vectorize" this to make it a vector operation?

[2017-10-20 11:23] sambitdash commented on #8
The vector operation code generation is to be carried out by the compiler not human optimized as the code needs to be run on varied disparate processors. Most processors support vector operations like SIMD if the code does not have unnecessary branching. However, if you are look at the byte operation code it's full of branching. A sample code for this can be seen in the comment:

https://github.co

[2017-11-01 15:42] sambitdash opened #16 "Should support citations where provided as superscript characters in text extraction"
The current algorithm may assume citation superscript as a separate line appearing above the current line where the superscript is used. This may change the layout and extracted characters from the PDF document affecting placement.

[2017-11-01 15:44] sambitdash commented on #16
The current algorithm is based on a single binary maxheap assumption. This can be modified to a XY layout text which can aggregate data better along the same Y coordinate.

[2017-11-02 08:03] sambitdash commented on #16
check-in 475fcb0  can partially fix this. This can be enhanced with a y-axis histogram detection of lines in the file. But may not be needed in many cases.

[2017-11-02 08:04] sambitdash commented on #16
Closing the issue based on previous comments.

[2017-11-02 08:04] #16 closed

[2017-11-14 11:18] sambitdash opened #17 "`pdPageExtractText` should support multi-column documents"
This implementation may be needed to be reviewed along with #2. Although, there may not be an exact overlap in some cases the implementation logic can be similar.

[2018-01-24 22:06] jacobcvt12 opened #18 "Unable to read in PDF"
I am attempting to read in [this pdf](https://github.com/sambitdash/PDFIO.jl/files/1661854/16-969_o7jp.pdf). Unfortunately, the code seems stuck on the first page. Any thoughts on why this is? I was able to run this code on another PDFs.

[code]

I've also tried on other pages of the PDF and see similar results - Julia works (indefinitely), but I see no error messages, and nothing is printed to th

[2018-02-28 09:40] sambitdash commented on #18
The file has an unusual PS definition in the CMap file:

[code]
In this format of CMaps typically the `def` keyword is not used.

[code]
The `parse_dict` can be made more tolerant. But I think the CMaps in these files are essentially corrupt.

[2018-02-28 10:00] sambitdash commented on #18
Closing as now fixed.

[2018-02-28 10:00] #18 closed

[2018-04-07 12:46] sambitdash commented on #18
@jacobcvt12 As you can see I have checked-in the changes and tested in the local system. However, I did not check-in test case as I don't own the file to share. Since, you own the file and if you think you can contribute to the test cases feel free to right a test case and upload the file to the test files collection so that this issue can be tracked during every build.

Thank you again for your s

[2018-04-09 15:45] sambitdash opened #19 "Support Forms XObjects"
Forms XObject is a PDF content embedded as a whole in a PDF page content. This kind of XObjects can have text also in the content and hence may be relevant to text extraction.

[2018-04-10 18:15] jacobcvt12 commented on #18
Thanks for this update. With regard to the file, it is a transcription of a oral arguments in the supreme court of the united states (accessible [here](https://www.supremecourt.gov/oral_arguments/argument_transcript/2017)). I don't own this file, but I imagine that using it in a unit test classifies as fair use. I'll work on a unit test and contribute in the near future.

[2018-04-10 18:59] sambitdash commented on #18
Thanks for your help @jacobcvt12. Will look forwards to it.

[2018-04-15 05:35] sambitdash opened #20 "The text width of text runs may be wrongly computed."
https://github.com/sambitdash/PDFIO.jl/blob/6bde9ae45c85af9b96b09f2b47b896f5973552ff/src/PDFonts.jl#L356

The `tw` and `tc` must be switched.

https://github.com/sambitdash/PDFIO.jl/blob/6bde9ae45c85af9b96b09f2b47b896f5973552ff/src/PDFonts.jl#L380

`tj = 0` should be there after this line to ensure only consider a text shift if there is a number in the TJ block.

[2018-04-15 05:37] sambitdash commented on #20
Though the change may be small it may affect all test cases related to the `pdPageExtractText` as all the extracted text will move positions from the templates.

[2018-04-15 06:41] sambitdash commented on #20
Closing as fix submitted.

[2018-04-15 11:25] sambitdash commented on #20
Closing as fix submitted.

[2018-04-15 11:25] #20 closed

[2018-05-25 10:48] sambitdash commented on #8
This may not be needed as PDF spec does not mandate the streams to have even number of hexits. It can also have control characters like CR-LF. So the branching may be significantly higher. Closing now.

[2018-05-25 10:48] #8 closed

[2018-05-25 10:49] sambitdash commented on #8
Current implementation is about 60ms for a 10Mb stream.

[2018-05-28 21:35] sambitdash commented on #19
above commit completes the task.

[2018-05-28 21:35] #19 closed

[2018-06-11 17:57] sambitdash opened #21 "Subsequent Tj or TJ operators without Td operators do not update text matrix"
When there are consecutive `TJ` or `Tj` operators, without any `Td` or `TD` operators that update the text matrix from the text line matrix the computed bounding box for the text run can be wrong.

The `Tm` text matrix should be updated after every showtext operation.

[2018-06-11 18:03] sambitdash commented on #21
Closing as now fixed with the change https://github.com/sambitdash/PDFIO.jl/commit/3840c873def722be10601687d9ed049b8e98bd5b

[2018-06-13 06:35] #21 closed

[2018-06-15 19:06] sambitdash opened #22 "Expose FontDescription flags from PDFonts"
Many a times it's required to know the font being a bold, italic, fixed width, allcaps or smallcaps etc. Ideally, these should be captured in TextLayout for subsequent processing,

[2018-07-22 16:46] sambitdash commented on #22
https://github.com/sambitdash/PDFIO.jl/commit/a8bc2e4d6c049499b81db9f57d7fe185b586d6aa has the code checked-in. Testcases to be added.

[2018-08-03 18:15] sambitdash commented on #22
testcases added with https://github.com/sambitdash/PDFIO.jl/commit/2033c6a2e753bf72a1b88174a444810ce7b88181

[2018-08-03 18:15] #22 closed

[2018-08-06 09:50] sambitdash commented on #18
Test case added with https://github.com/sambitdash/PDFIO.jl/commit/fc3e92c6604310546d44d7dd8db93cbbd3171d7d

[2018-10-21 21:13] gwierzchowski opened #23 "pdDocGetInfo() crash (PDF without properties)"
pdDocGetInfo() crashes when used against PDF without any properties:
[code]
Fix seems to be easy - I will send PR.

[2018-10-22 23:34] gwierzchowski opened #25 "pdDocGetInfo() crash (PDF with empty properties)"
pdDocGetInfo() crashes when used against PDF with empty properties:
[code]
Attached affected pdf file (it is no longer available on-line).
[ALM-2009-Aug.pdf](https://github.com/sambitdash/PDFIO.jl/files/2503741/ALM-2009-Aug.pdf)

[2018-10-25 05:55] sambitdash commented on #25
@gwierzchowski Unfortunately, PDF specification ISO-32000 does not support empty strings in DocInfo.
https://www.adobe.com/content/dam/acom/en/devnet/pdf/PDF32000_2008.pdf

Specification text provided below:

dictionary containing metadata for the document; Table 317 shows its contents. Any entry whose value is not
known should be omitted from the dictionary rather than included with an empty stri

[2018-10-25 06:11] sambitdash commented on #23
Table 15 PDF Spec:

name | datatype | description
-- | -- | --
Info | dictionary | (Optional; shall be an indirect reference) The document’s informationdictionary (see 14.3.3, "Document Information Dictionary")

Hence, a valid bug to be addressed.

[2018-10-25 06:14] sambitdash commented on #25
Leveling as enhancement as the error thrown is not clean and once error is throw no easy way to recover valid values. A good API should provide cleaner way to recover on genuine failures which needs to be implemented here.

[2018-10-29 06:44] sambitdash opened #28 "`pdDocGetInfo` not handling `CosName` properly."

[2018-10-29 06:46] sambitdash commented on #28
Fixed in: https://github.com/sambitdash/PDFIO.jl/commit/6c27da5a12191ce57f3b379bf70ff7da9bf4920c

[2018-10-29 06:48] #28 closed

[2018-10-31 14:34] #23 closed

[2018-11-04 11:48] sambitdash opened #29 "Ensure sanity on PDF 2.0 file samples"
https://github.com/pdf-association/pdf20examples has the files.

[2018-11-04 17:47] gwierzchowski opened #30 "CDDate(test) == CDDate(test) returns false"
Working on unit test for PR #26 I noticed following unexpected behavior:
[code]
Looking at code I see 2 following problems:
1) reg ex for date:
[code]
do not strictly conforms Adobe PDF date spec.
More correct would be:
[code]
2) == for CDDate fallback into identity, I would like to implement:
[code]

I'm working on fix, let me know if you welcome PR, and if better to do separate PR or altogether

[2018-11-04 22:42] sambitdash commented on #30
I think as per PDF spec the whitespaces are not expected in the regexp. So they can be removed. Moreover, you will need to implement the `isless` and `isequal` operator for date objects have trichotomy property.

[2018-11-04 22:43] sambitdash commented on #30
Ideally, we should make separate PRs for each issue.

[2018-11-04 22:44] #29 closed

[2018-11-05 19:18] sambitdash commented on #30
You may not need anything like:
[code]
The below should suffice.
[code]
I do not think anyone will like to derive from `CDDate`. `CDDate` are kind of final types in that sense.

[2018-11-06 23:08] gwierzchowski commented on #30
In julia 1.0 it is little strange:
[code]
but:
[code]
So I implemented `==` and `isless` ;/
I agree, no need for `T<:CDDate`

[2018-11-07 20:19] sambitdash commented on #30
Wonder alternate to try:

`r"D:(?<dt>(\d\d){2,6})(?<tz>((?<ahead>[+-])(?<tzh>\d\d)('(?<tzm>\d\d))?|Z))?"`

[2018-11-09 04:43] #30 closed

[2018-11-09 05:12] #25 closed

[2018-11-10 13:13] sambitdash opened #35 "Outlines from PDF documents should be extracted"
PDF document outlines can be extracted from 3 distinct sources:

1. PDF bookmark which show up in Adobe Reader as TOC.
2. PDF structure from marked content from tagged PDFs
3. Document structure analysis by learning or heuristics.

The scope of `PDFIO` is only 1 and 2. 3 can be created as a separate module over `PDFIO` to address knowledge oriented problems. Eventually, text extraction APIs should

[2018-11-10 13:14] sambitdash commented on #35
@gwierzchowski Please review this with relation to your comment on #34.

[2018-11-12 18:02] gwierzchowski commented on #35
In my implementation I only use Outline entry from PDF Catalog.
[code]
It is optional, so method can return nothing if there is no such entry.
It matches the case when most GUI viewers display TOC panel.
It is also what Python library PyPDF2 returns from getOutlines().
I think bookmark annotations is different functionality (for different function).
I agree that 2. and 3. is out of scope - it is m

[2018-11-12 18:50] sambitdash commented on #35
@gwierzchowski your understanding is for case 1. That's perfect. The outlines and bookmarks are synonymous in PDF at places. Hence, the confusion. 2 is a good use case though. You can virtually create complete HTML like tagged interpretations when documents have such nice representations, But very seldom creators map tags properly though. Outlines are used in almost all PDFs. So extracting can be

[2018-11-21 14:09] johannspies opened #38 "Request for examples in the documentation"
I am struggling to figure out how to use this library to read a pdf as text for the purpose of Natural Language Processing as an alternative to

[code]
as shown in
[https://github.com/aviks/nlp-workshop/blob/master/NLP-in-julia.ipynb](https://github.com/aviks/nlp-workshop/blob/master/NLP-in-julia.ipynb)

Or can  I not use this library in stead of Taro (which I cannot compile on Julia 1.0.2)?

[2018-11-22 07:18] sambitdash commented on #38
`PDFIO` is a little low level API than Taro in this respect. It deals with PDF each page separately. So you may need a few extra lines of code. The piece of code you are looking for is the following:

[code]
If you still face any issue or challenges with the code please let us know so that we can try to address those.

The library is kept very flexible for accessing detailed query into PDF objects

[2018-11-22 08:53] johannspies commented on #38
Thanks!  That helps.

[2018-12-01 00:11] gwierzchowski opened #39 "`cosDocGetPageNumbers` carshes when there is no `PageLabels` in PDF catalog"
Hi. Working on Outline support implementation I got following error:
[code]
Fails with:
`MethodError: no method matching get(::CosNullType, ::CosName)`

I think `pdDocGetPageRange` should fall back to parsing label as number and return appropriate page if there are no labels dictionary in PDF or at least return empty vector.

I have ready fix so would like to submit PR.

[2018-12-03 18:22] sambitdash commented on #39
@gwierzchowski for the outlines the most important element is the Destination object in PDF Spec. Section 12.3.2. Although the spec is not as clear but what I can on a cursory glance gather the `page` described in section 12.3.2.2 should be a global page number. Did you see `PageLabels` being used there.  In such cases, it may be apt to use the `pdPageGetPage` or `pdPageGetPageRange` with range of

[2018-12-03 18:45] sambitdash commented on #39
@gwierzchowski on second thoughts, while an empty range may be fine as a return value or a better error message like `invalid page label` can be thrown as well, I do not think interpreting integers to ranges should be implemented. It does not have any meaning from the PDF spec perspective.

[2018-12-03 22:10] gwierzchowski commented on #39
@sambitdash, Hi.
Ad question1:
Yes pages associate with outline items are little tricky and generally go into 2 (main) branches:
- using `Dest` key - what is easier part and I already have this done
- using `A` key - what is harder and leads to GoTo actions and `Names` entry in catalog

Doing second part I met common structure referred as `name tree` in PDF spec. Before going into coding, I did se

[2018-12-04 06:52] sambitdash commented on #39
Even here also everything finally gets mapped to the explicit destination kind of structure. Hence, if you keep a mapping of a `outline` to `explicit destination` you are most likely covering everything.

Yes `ntree` is the right structure to use. It's parametric for as `name` as well as `number tree` based on the input type.

You can always use `ntree` to find the page numbers and then use `pdPag

[2018-12-04 07:19] sambitdash opened #41 "Need a `pdDocHasPageLabels()` API"
May need this additional API to enhance some tasks being perceived in #39.

[2018-12-04 07:19] sambitdash commented on #41
@gwierzchowski you may be interested in this API as well.

[2018-12-04 19:48] gwierzchowski commented on #39
**Ad question1:**

Yes, understand this. Object that i plan return from `pdDocGetOutline` will contain a doctrinaires associated with each outline position, and every such dictionary will actually have 3 keys related to the page: `item[:PageRef], item[:PageNo], item[:PageLabel]`, which stands for page direct reference (object of type `CosIndirectObjectRef`), raw numeric page number and page label.

[2018-12-05 13:03] gwierzchowski commented on #39
Ok, So I'll propose following to move on:
- Add `E_INVALID_PAGE_LABEL` to errors.ji as you suggested
- Replace `E_INVALID_PAGE_NUMBER` with `E_INVALID_PAGE_LABEL` in `find_page_label` as this function actually looks for labels
- Remove `tryparse` from `cosDocGetPageNumbers` and stick with code:
[code]
Here is question, I think more informative would be here adding new kind of error: E_LABELS_NOT_P

[2018-12-08 10:09] gwierzchowski commented on #39
Hi,
I have committed changes to PR #40 - please review.
Thanks.

[2018-12-15 17:35] gwierzchowski opened #42 "pdDocOpen() crash (PDF created by pdfLatex)"
pdDocOpen() crash with following error:
[code]
when called against file created by Latex (attached).
Latex version: `pdfTeX 3.14159265-2.6-1.40.16 (TeX Live 2015/Debian)` (KDE Neon / Ubuntu 16.04 based)
I will submit PR to fix soon.
[outline.pdf](https://github.com/sambitdash/PDFIO.jl/files/2682915/outline.pdf)

[2018-12-16 07:48] sambitdash commented on #42
`readuntil` should not have been used at all in first place. PDFs cannot be assumed as `UTF-8`.

So data should be read byte by byte and compared with `ispdfspace`. Commented the same in the PR as well.

[2018-12-16 15:37] gwierzchowski commented on #42
I came to idea to use already implemented function `parse_number`.
Check updated PR.

[2018-12-22 23:59] gwierzchowski opened #44 "pdPageExtractText() crash on file created using LaTex"
pdPageExtractText() raise following error when used on file created by Latex:
[code]
Change:
`d[i+1] = widths[ix]` into `d[i+1] = round(Int,widths[ix])` in PDFontMetrics.jl fix this issue.
Fix is included into PR with implementation for Outlines.

[2018-12-23 00:45] gwierzchowski commented on #35
Submitted PR with implementation proposal.

[2018-12-23 16:16] sambitdash commented on #44
Pls. check-in fix for this separately from pdDocGetOutline(). It's best each individual check-in kept granular.

[2019-01-02 10:43] #44 closed

[2019-04-10 15:18] sambitdash opened #47 "Move all the test files to the PDFTest repository."
PDFIO has MIT licensing. However, some of the files may have other forms of license that is not safe to be shipped with PDFIO. The test files will be kept separate from the PDFIO. To be downloaded on demand for test purposes only.

[2019-04-16 11:29] sambitdash commented on #47
#49 addressed this as well. Closing.

[2019-04-16 11:29] #47 closed

[2019-04-16 11:30] sambitdash commented on #35
#45 and #49 addressed this to a great extent. Closing.

[2019-04-16 11:30] #35 closed

[2019-04-16 16:36] attobot opened #51 "Error tagging new release"
The REQUIRE file could not be found.
cc: @sambitdash

[2019-04-16 16:49] sambitdash opened #52 "Package Registration"
@JuliaRegistrator register()

[2019-04-16 16:49] JuliaRegistrator commented on #52
Error while trying to register: Version 0.1.1 already exists

[2019-04-16 16:51] sambitdash commented on #52
@JuliaRegistrator register(v0.1.2)

[2019-04-16 16:51] JuliaRegistrator commented on #52
Error while trying to register: Version 0.1.1 already exists

[2019-04-16 16:52] sambitdash commented on #52
@JuliaRegistrator register(branch="v0.1.2")

[2019-04-16 16:52] JuliaRegistrator commented on #52
Error while trying to register: Branch `"v0.1.2"` not found

[2019-04-16 16:54] sambitdash commented on #52
@JuliaRegistrator register(branch="master")

[2019-04-16 16:54] JuliaRegistrator commented on #52
Error while trying to register: Branch `"master"` not found

[2019-04-16 17:40] sambitdash commented on #52
@JuliaRegistrator register()

[2019-04-16 17:40] JuliaRegistrator commented on #52
Error while trying to register: Version 0.1.1 already exists

[2019-04-16 17:42] sambitdash commented on #52
@JuliaRegistrator register()

[2019-04-16 17:43] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/72](https://github.com/JuliaRegistries/General/pull/72)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-17 07:51] sambitdash commented on #51
closing as I have moved to Registrator now on.

[2019-04-17 07:51] #51 closed

[2019-04-19 20:19] sambitdash commented on #52
@JuliaRegistrator register()

[2019-04-19 20:19] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/145](https://github.com/JuliaRegistries/General/pull/145)

After the above pull request is merged, it is recommended that you create
a tag on this repository for the registered package version:
[code]

[2019-04-23 11:00] sambitdash opened #53 "Better support for T3 fonts"
Some of the PDF files support T3 fonts that do not have embedded toUnicode mapping. Such fonts cannot be extracted from the document effectively. In such cases, usage of OCR might be useful. An OCR library like `tesseract` or such which can be helpful in such extraction of font data. This will be a helpful possibility in such scenarios. It has to be made sure that a library used should not violate

[2019-04-23 11:33] sambitdash opened #54 "Import the performance `pdPageExtractText`"
`pdPageExtractText` API is one the core APIs of PDFIO. However, smaller large number of allocations make it a bit slower. This code needs to be refactored to ensure the text extraction speeds are improved further.

Any inputs, proposals and PRs in this direction will be highly appreciated.

[2019-04-24 09:05] kskyten opened #55 "Extracting text with a specific font"
It is common to use different fonts to denote semantic meaning (e.g italics for emphasis or larger font size for section titles). Is it possible to extract text that is in a specific font and size? Also, is it possible to specify a region where to extract from? I would like to be able to, for example, extract all the italic text inside a region.

[2019-04-24 09:14] sambitdash commented on #55
Not as an API. However, it's not hard to implement or extend `pdPageExtractText` for these purposes. If you plan to submit a PR, please feel free to do so.

[2019-04-24 09:20] kskyten commented on #55
Can you give some hints on how to implement this?

[2019-04-24 09:32] kskyten opened #56 "Writing/modifying pdfs"
Is it possible to modify the parsed pdf and write it to a file? Specifically I'm interested in the ideas from here: open-source-ideas/open-source-ideas#46. Julia has excellent support for neural networks, so it would be interesting to experiment with something like [this](https://github.com/allenai/spv2).

[2019-04-24 09:32] sambitdash commented on #55
`pdPageEvalContent` is essentially the method to evaluate the content stream stack and populates intermittent values to the graphic state the stack. This stack / state is called `GState`.

You have to pass a rectangular selection area or font name or attribute as a parameter on the `GState`.  Internally, `GState` is a stack of Dictionary objects. In `evalContent!(tr::PDPageTextRun, state::GState)`

[2019-04-24 09:48] sambitdash commented on #56
Both are definitely possible while first one can fit into the purview of PDFIO, the second one can be developed as a separate project that utilizes capabilities if PDFIO. PDFIO is a low level PDF reading (can be extended for manipulation) API.

There is no plans to move it to the realm of machine learning or NLP or document structure understanding.

[2019-04-24 09:56] kskyten opened #57 "Extracting boxes"
I have a pdf with important points drawn in boxes using path commands. For example:
[code]
How can I extract these?

[2019-04-24 09:59] sambitdash commented on #57
PDFIO does not support graphics extraction currently. However, you can use the techniques suggested in #55 to extract objects you desire.

[2019-04-24 10:03] kskyten commented on #56
I agree. What should be done to support writing pdf files? Is that a large undertaking?

[2019-04-24 10:24] sambitdash commented on #56
For the list given 3-6 man months depending on how much you understand PDF specification. Many of the things need document understanding which can be excluded from the list. More than development, good PDF parsers have to tested with variety of file types. That can be overwhelming.

[2019-04-24 10:43] kskyten commented on #56
Unfortunately, I'm not very familiar with the PDF spec. What is the bare minimum that needs to be implemented just to write pdfs?

[2019-04-24 10:49] sambitdash commented on #56
@kskyten unfortunately, without understanding the PDF specification it will be hard to write a writer particularly when you are looking at modifying page content. Moreover, writers require compression encoders which are not integrated to PDFIO only decoders are currently integrated.

Personally, writer is not very high on my priorities. While I can guide as a maintainer and owner of the library, I

[2019-04-24 16:53] kskyten commented on #57
Thanks for the help. Turns out I need all of them together (i.e between `Q` and `q`), so it was easier to just filter them out from a page instead of overloading `evalContent!`. This is a bit hacky and probably pretty specific to the pdf I'm processing, but it works for me.

[2019-04-24 16:53] #57 closed

[2019-04-24 17:01] kskyten commented on #56
I was hoping I would just be able to copy the unmodified streams over and modify the lengths and references to make it work. I don't think I need a full-blown writer as I only need to modify a specific subset of streams, but I might be wrong.

[2019-04-24 17:30] kskyten commented on #55
I made some progress with your advice, but then I got stuck. I added a query font to the state and I check whether it matches. The problem is that now the following text commands for non-matching fonts will not work, so I also added a variable to the state to indicate whether the current font matches the query. This did not work. I get a string `"\0\0\0\0...\0"` back. The code is also not very ele

[2019-04-24 18:17] sambitdash commented on #55
You can initialize `:clipping_rect` in `pdPageExtractText`

You can go to this location:
https://github.com/sambitdash/PDFIO.jl/blob/95000b69625cfbd51cf7825470def0d4df9192aa/src/PDPageElement.jl#L653

This code will for example exclude all Italic fonts.
[code]

[2019-04-24 19:20] kskyten commented on #55
Thank you! It works great.

[2019-04-24 20:06] sambitdash commented on #55
Now that it worked, you can make a modification to the `pdPageExtractText` which can take a clipping rectangle path as input or certain font characteristics as input parameter and submit a PR.

[2019-04-25 09:56] sambitdash commented on #54
#58 addresses few of the issues.

[2019-04-26 08:38] sambitdash opened #59 "Validation of digital signatures in the PDF documents"
As PDFs are part of many workflows, digital signatures are becoming norm to sign those workflow transactions. Validation of such transactions will definitely benefit the workflows.

[2019-05-01 09:19] sambitdash commented on #59
Initially for annotations of type `/Sig`.

[2019-05-17 16:59] malmaud opened #62 "Tests fail"
[code]

[2019-05-18 06:55] sambitdash commented on #62
@malmaud Can you follow the following steps?

[code]
It seems for some reason `ZipFile.jl` may have failed on your system.

I am attaching my output for the command below:

[code]

[2019-05-18 06:56] sambitdash commented on #62
@malmaud or just try the following:

[code]

[2019-05-21 13:14] malmaud commented on #62
For some reason (I guess a bug in the package manager), that still failed with the same error. I just installed and tested in a new environment and the tests passed.

[2019-05-21 13:14] #62 closed

[2019-05-22 07:29] sambitdash commented on #62
@malmaud Thanks for your update.

[2019-06-17 16:25] sambitdash commented on #59
Fixed with #63

[2019-06-17 16:25] #59 closed

[2019-06-17 16:41] sambitdash commented on #52
@JuliaRegistrator register()

[2019-06-17 16:41] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/1422](https://github.com/JuliaRegistries/General/pull/1422)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-06-23 14:47] sambitdash commented on #52
@JuliaRegistrator register()

[2019-06-23 14:47] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/1526](https://github.com/JuliaRegistries/General/pull/1526)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-03 05:30] aminya opened #66 "tocPDF"
I have created a repository which the plan is to auto-generate bookmarks from the table of contents already available at the beginning of pdf files.
https://github.com/aminya/tocPDF

For now, I plan to start using available software (e.g k2pdfoptdoes), and then later make the functionality Julia native (when you add pdf write capability).

Current algorithm plan: https://github.com/aminya/tocPDF#a

[2019-07-03 06:14] sambitdash commented on #66
@aminya thanks a lot for your interest in `PDFIO` project. While I will love to see the project become a PDF writer, I personally cannot devote any time on it other than reviewing and merging PRs or contributing to the library design.  Moreover, `PDFIO` is a low level API needing detailed understanding of PDF specification to be able to do advanced programming with it. A similar discussion is also

[2019-07-03 09:49] aminya commented on #66
@sambitdash
You're welcome. I have found a Java program for now that I call using JavaCall.

To draw more attention regarding developing PDFIO consider adding your repository to this JuliaIO organization, which is the group for a unified IO infrastructure. https://github.com/JuliaIO?page=1

[2019-07-03 10:03] sambitdash commented on #66
@aminya making `PDFIO` part of `FileIO` interface which is most JuliaIO projects are based on have its own challenges. Most `FileIO` projects load a file and read it from beginning to end. While PDFIO is an object model of the underlying PDF document. PDFs are used for varying different needs. Extracting internal data is just one of the aspects. One can write an interface for `FileIO` but again so

[2019-07-09 22:48] sambitdash commented on #52
@JuliaRegistrator register()

[2019-07-09 22:48] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/1920](https://github.com/JuliaRegistries/General/pull/1920)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-09 22:58] sambitdash commented on #3
Standard security handler #67

[2019-07-10 17:35] sambitdash commented on #3
Permissions are only directives and once decrypted it'll be the prerogative of the consumer to respect the permissions.

[2019-07-11 14:00] sambitdash opened #68 "Implement Filespec properly to address the EFF attribute of the security handler"
The crypto code decrypts the streams through recursively accessing the indirect objects. For external files it may not easy to determine a file stream is an embedded file from the attributes of the extent dictionary of the stream as all the keys are kind of optional. So Filespecs should be implemented properly to identify the case where EFF flag has to be used judiciously.

[2019-07-13 05:40] sambitdash commented on #52
@JuliaRegistrator register()

[2019-07-13 05:41] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/1990](https://github.com/JuliaRegistries/General/pull/1990)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-13 05:50] sambitdash commented on #3
Fixed with #69.

[2019-07-13 05:50] #3 closed

[2019-07-24 14:32] sambitdash opened #70 "Normalize SASLPrep for PDF passwords"
SASLPrep can be implemented using the Unicode consortium supplied libraries: http://site.icu-project.org/ but I guess this may be unnecessarily added dependency.

Enhancement request has been raised to include the feature in Julia: https://github.com/JuliaLang/julia/issues/32503

[2019-08-11 16:00] tuckertranslator opened #72 "Not able to execute any functions on a basic PDF. Error: Found ' (32)' Expected '<' here"
Hi there.
I am getting an error when I try to execute getPDFText() or pdDocOpen() or any other function. This the error:
_Found ' (32)' Expected '<' here_

And here is the first few lines of stack trace:
the stacktrace:
 _[1] error(::String) at ./error.jl:33
 [2] skipv at /Users/tuckercahillchambers/.julia/packages/PDFIO/Miu63/src/BufferParser.jl:25 [inlined]
 [3] read_trailer(::IOStream, ::Int64)

[2019-08-11 16:44] sambitdash commented on #72
@tuckertranslator, can you share the file where you faced the error? If you can share the file here in public, you can send the file to me by e-mail. Without the file it'll be hard for me to to comment on the issue.

[2019-08-11 16:50] sambitdash commented on #72
You can also run the default tests on the PDFIO installation by using the following commands:

[code]
If the test passes the error must be due to something specific in the PDF file.

[2019-08-11 17:05] tuckertranslator commented on #72
Hi Sambit. I emailed you the PDF as it is a bit sensitive. I ran the package test per your suggestion, and the package seems to be fine. I will update here later on, if we manage to resolve the PDF issue.
Thank you.

[2019-08-11 17:38] sambitdash commented on #72
Fixed in: https://github.com/sambitdash/PDFIO.jl/commit/89364fbcf46cc718e5eef1643da7ec0602795eba

[2019-08-11 23:21] sambitdash commented on #72
Closing.

[2019-08-11 23:21] #72 closed

[2019-10-06 08:19] sambitdash opened #73 "Move the Zlib and OpenSSL dependency to JuliaBinaryWrappers"
JuliaBinaryWrappers has binaries of Zlib and OpenSSL built-in. Instead of building them, it may be ideal to pick them up from pre-built binaries. That way the unnecessary build time can be reduced and it will be consistent with the pre-built binaries and thus consistent test experience. However, the minimal Julia release has to be 1.3.

Once, Julia 1.3 is GA this can be taken up.

[2019-11-01 14:29] jarvist opened #74 "Google Docs PDF fails at pdPageExtractText"
Trying to extract text from a simple Google Docs PDF,
[code]
 fails with:
[code]

[2019-11-01 16:38] sambitdash commented on #74
Fixed with commit f98d449c0633242f261a7241cae714d837452b05.

[2019-11-01 16:40] sambitdash commented on #74
est files added as per Thttps://github.com/sambitdash/PDFTest/releases/tag/v0.0.7.

[2019-11-01 16:43] #74 closed

[2019-11-02 16:56] sambitdash commented on #52
@JuliaRegistrator register()

[2019-11-02 16:56] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/4988](https://github.com/JuliaRegistries/General/pull/4988)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-03 11:27] sambitdash commented on #52
@JuliaRegistrator register

[2019-11-03 11:27] JuliaRegistrator commented on #52
Registration pull request updated: [JuliaRegistries/General/4988](https://github.com/JuliaRegistries/General/pull/4988)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-03 11:38] sambitdash commented on #52
@JuliaRegistrator register

[2019-11-03 11:38] JuliaRegistrator commented on #52
Registration pull request updated: [JuliaRegistries/General/4988](https://github.com/JuliaRegistries/General/pull/4988)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-04 19:16] sambitdash commented on #73
Fixed in #75. Will be merged when Julia 1.3.0 is GA.

[2019-11-11 00:00] konichuvak opened #76 "build fails"
Following the procedure for building the package on **MacOS: 10.15** I get a following error:
[code]

and this is what happens when I am trying to build the package:
[code]
Does this error look familiar to anyone?

[2019-11-11 00:36] sambitdash commented on #76
@konichuvak, I will assume the `libcrypto.so` is not able to be built. If possible can you upload the following files here for me to take a look:

`deps\deps.jl` and `deps\build.log`.

I do not have a Mojave or Catalina machine with me to test. So can only suggest a few approaches so that you can work with them and get over the issue if possible. I possibly cannot fix this issue and test it.

One

[2019-11-11 01:35] konichuvak commented on #76
@sambitdash thank you for a quick reply!

`deps/deps.jl` is completely missing while `build.log` contains the same error as above.

OpenSLL seems up-to-date
[code]
As per travis  logs, it seems like the build is being performed with 1.0.5. I went ahead and installed julia 1.0.5, but received another error:
[code]

I will try to install on ubuntu machine and post an update.

[2019-11-11 02:40] sambitdash commented on #76
Expected as the `build.jl` has failed.

It seems like there is OpenSSL but it's not getting loaded. Try to write a small script using https://docs.julialang.org/en/v1/stdlib/Libdl/#Libdl.dlopen to check if the library can be loaded.

Ideally on Mac OS, SSL need not be built from souce: https://github.com/sambitdash/PDFIO.jl/blob/838b866e01cd351e51d425e434442d6a52368b61/deps/build.jl#L26

should su

[2019-11-11 02:44] sambitdash commented on #76
https://forums.developer.apple.com/thread/119429 talks about system OpenSSL load failure in Catalina Beta 3. Not sure if the issue persists in the release. There is also workaround suggested.

[2019-11-26 17:38] sebastianpech opened #78 "_error not defined"
There's a function `_error` used in src/CosReader.jl that is undefined.

[2019-11-27 15:29] sambitdash commented on #78
Can you upload the file where you observed this behavior? Although the fix may be easy, for a test case to be added we need to have the file.

[2019-11-27 15:31] sebastianpech commented on #78
No I can't, but I will check if I can extract the part thats causing the error

[2019-11-28 03:34] sambitdash commented on #78
@sebastianpech I guess #80 should fix this. But, I will keep the issue open just so that you can provide us an isolated extracted file to add to the test case.

[2019-11-28 03:49] sambitdash commented on #76
@konichuvak Please test with Julia 1.3 and the latest build of PDFIO (#75 or later not 0.1.8 or the trunk latest). Seems the combination is working with Darwin 19.0.0.

https://travis-ci.org/sambitdash/PDFIO.jl/jobs/617830803

My presumption is Julia 1.3.0 will be needed for Mojave or Catalina.

[2019-11-29 21:20] konichuvak commented on #76
@sambitdash Confirming successful install on julia1.3 when pulling from master!
[code]

[2019-11-29 23:33] sebastianpech commented on #78
This is the error I get:
[code]
Do you have any tipps for debugging that. My problem is that the error occurs in a pdf generated not on my device. After removing a page, undo to add it back and then save on my device the error vanishes.

[2019-11-29 23:38] sebastianpech commented on #78
Apparently it's a space (0x20) that's causing the problem

[2019-11-30 02:10] sambitdash commented on #76
Closing the issue.

[2019-11-30 02:10] #76 closed

[2019-11-30 02:37] sambitdash commented on #78
@sebastianpech the `_error` was a bug in the library which has been fixed.

For the specific error reported in your file now, I will have to review the file to comment. If you are ok, you can share the file with me over email as well. It will be hard to comment from the trace you sent. The issue seems to be in a font file embedded inside the PDF file.

[2019-11-30 11:44] sambitdash commented on #78
https://github.com/sambitdash/PDFIO.jl/commit/9ceafda580322eb836214e5f8346bf1cdc46b6be may fix the issue as reported if I go by your comment on the space character.

Take the latest build and try out.

[2019-11-30 11:54] sebastianpech commented on #78
Yeah I know. But I'm curious what's causing the error.

Sadly I really can't send you the file, it contains personal data from students and I can't get the data out as the moment I change something the error is gone.

Currently building

[2019-11-30 12:09] sebastianpech commented on #78
That did the trick thanks.

I have another pdf which fails at this
https://github.com/sambitdash/PDFIO.jl/blob/eeff74cd01dd29839465bb070b63c929bacd5e16/src/PDPageElement.jl#L618
assertation. Could that be related to objects being larger than the pagewidth?

[2019-11-30 12:11] sambitdash commented on #78
Please file a separate bug on this.

[2019-11-30 12:11] sambitdash commented on #78
Closing this bug based on the comment above.

[2019-11-30 12:11] #78 closed

[2019-11-30 12:18] sebastianpech opened #81 "Getting assertation error in show_text_layout!"
I have a pdf which fails at this
https://github.com/sambitdash/PDFIO.jl/blob/eeff74cd01dd29839465bb070b63c929bacd5e16/src/PDPageElement.jl#L618
assertation.

[fails.pdf](https://github.com/sambitdash/PDFIO.jl/files/3907094/fails.pdf)

[2019-11-30 12:22] sebastianpech commented on #81
This happens when extracting the pdfs text

[2019-11-30 12:52] sambitdash commented on #81
Extremely small characters affect the formatting so they must be ignored. The assertion was introduced to keep a check on them. In this case a textrun as 0x200b which is zero width space character of unicode leading to assertion failure. The textruns have to be ignored rather than asserted on.

[2019-11-30 12:57] sambitdash commented on #81
https://github.com/sambitdash/PDFIO.jl/commit/759200f14f637eb87e3bec5e49de0695009c7504 should fix this issue.

[2019-11-30 13:21] sebastianpech commented on #81
Works! Thanks for your effort. I have more to come will open an issue later

[2019-11-30 13:21] #81 closed

[2019-11-30 13:27] #73 closed

[2019-11-30 14:16] sambitdash commented on #52
@JuliaRegistrator register()

[2019-11-30 14:17] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/6067](https://github.com/JuliaRegistries/General/pull/6067)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-11 14:44] flalom opened #82 "How to retrieve text from pdPageExtractText(stdout, page)?"
I am new in Julia and I am very interested in PDFIO.jl.
I am trying to save the text output from the pdPageExtractText(stdout, page) in the text variable but I can't because I get this object:
IJulia.IJuliaStdio{Base.PipeEndpoint} IOContext(Base.PipeEndpoint(Base.Libc.WindowsRawSocket(0x0000000000000384) open, 0 bytes waiting))).

Thank you for your help!
Can I contribute?

[2019-12-12 00:45] sambitdash commented on #82
String(take!(pdPageExtractText(IOBuffer(), page)))) should work.

[2019-12-12 05:43] #82 closed

[2019-12-22 09:38] Banguiskode opened #83 "Extract all Text Objects"
Hi !
First of all, thank you for this great tool.
Let me ask you a question:
I would like to be able to extract a table (or a list) containing the text objects with their properties, is that possible?
Thanks

[2019-12-22 13:58] sambitdash commented on #83
@Banguiskode thank you for your interest in the library. Your expectations are captured as enhancements #2, #7, #11 and #17.

PDF as a specification does not have any simple mechanism of specifying tabular structures as tables unless you post process the text positions extracted from the PDF files. While the API does not provided a very explicit API for the same of `pdPageEvaluate` can be extended

[2019-12-22 13:58] #83 closed

[2019-12-22 16:07] Banguiskode commented on #83
Thank you very much for your answer !

[2019-12-22 16:51] sambitdash commented on #4
Both formats embed complete JPEG and JPEG2000 files. So technically, one of the other imaging library in conjunction can be used. The correct `decode` gives back the `IO` handle to the internal data which can be given to any other imaging library for use.

[2020-03-10 16:35] ValeriiBaidin opened #86 "Would you give additional examples of how to work with pages?"
Would you give additional examples of how to work with pages and show all the advantages. Right now it's very confusing.
Thank you in advance.

[2020-03-11 07:01] sambitdash commented on #86
@vbaidin can you clarify what you will need to do with pages? You may also need to understand PDF specification to understand the page objects that you want to access and use.

[2020-03-19 17:43] vbaidin opened #87 "SystemError: GetTempFileName"
I read a lot of pdf documents.
After around 20-36 I have this error: SystemError: GetTempFileName, when I try to get page by it's number.
After reopening Julia, the same pdf file opens correctly.

[2020-03-19 17:47] vbaidin commented on #86
All kids of example. Even how to convert any page to string. How to use page objects.
It should be easy for any undergraduate freshman.

[2020-03-19 17:52] sambitdash commented on #87
Please provide complete stack trace of the error or isolated file where you are observing this issue. Hard to guess the reason of failure otherwise.

[2020-03-19 17:56] sambitdash commented on #86
@vbaidin  can you describe what you are trying to do? PDF specification has a wide variety of objects classified as page objects.

[2020-03-19 18:03] vbaidin commented on #87
it's hard to replicate.
I have a folder with 100 pdf files. Each file is around 800-900 pages. Everything is work good, until I have read around 30files.
So I think you have some problems with temporary files. Maybe it isn't deleted?

[2020-03-20 04:32] sambitdash commented on #87
@vbaidin from your previous comment, I do not get enough information to reproduce the issue nor have enough resources to replicate your use case. I can see you have some conjecture based on certain observations. If you can establish it with a code snippet with code suggestions we will be happy to take the PR.

[2020-03-20 14:24] vbaidin commented on #87
Thank you for your replay. As I mentioned, I can't reproduce it, since it happened only after I have worked with 30 pdf (1000 pages for file).

I hope. I find the error. I didn't close the document pdDocClose(doc_pdf), so it was my fault. I am sorry

[2020-03-20 14:31] sambitdash commented on #87
@vbaidin if you didn't close opened PDF files, it's only logical to expect all the temporary file handles will be exhausted. With that information known, I will close the issue. If the issue persists even after closeing the files you can reopen the issue.

[2020-03-20 14:31] #87 closed

[2020-04-10 15:17] FinPl opened #88 "invalid or incomplete deflate data"
Hello,
I am encountering an error while trying to extract text from the first page of this document:

https://www.diffusion.transports.gouv.qc.ca/ords/pes/APEX_PES.P_PESB_DSI_AFFCH_RIG?P_VC_NUM_DOSSR=00007

I am rather new to pdf parsing and as I understand it there might be a problem with the compression used. Other documents which are similar work perfectly fine.

This one works:

https://www.di

[2020-04-13 08:37] sambitdash commented on #88
The compressed stream for the content stream is corrupt. Hence, at some point the extraction will not be completed. Accepting partial corrupt data can make the file pass through but some data may be corrupt due to bad flate compressed data.

[2020-04-13 10:20] sambitdash commented on #88
Fix in: https://github.com/sambitdash/PDFIO.jl/commit/208d064bc2f7bc0263fbd02d177a4542e98b9183

There can never be a perfect solution when the data is corrupt, whatever data can be recovered is recovered.

[2020-04-13 10:35] #88 closed

[2020-04-13 10:47] sambitdash commented on #86
Open ended requirement, hence closing.

[2020-04-13 10:47] #86 closed

[2020-06-10 09:43] jakewilliami opened #89 "Bug: error reading attached PDF, works with other PDFs."
Stacktrace:
[code]
Using [this script](https://pastebin.com/KvFPbA92).

[file.pdf](https://github.com/sambitdash/PDFIO.jl/files/4757579/file.pdf)

[2020-06-11 10:20] sambitdash commented on #89
I do not see any issues with the specific file. Please send the specific file where you are seeing the issues.
[file.txt](https://github.com/sambitdash/PDFIO.jl/files/4764153/file.txt)

[2020-06-11 12:21] jakewilliami commented on #89
That is the specific file I am using.  I am using OS X 10.14.

[2020-06-11 12:26] jakewilliami commented on #89
[code]

[2020-06-11 12:41] sambitdash commented on #89
Which version of Julia and PDFIO you are using. May be you are on older versions.

[2020-06-11 22:26] jakewilliami commented on #89
I am using Julia version 1.4.1, and PDFIO version 0.1.7, so you are right (sorry, I didn't actually see #72 before posting this issue).  However, I used `Pkg.add("PDFIO")` a day before posting this issue.  Why did `Pkg` install version 0.1.7 if this is an old version?

[2020-06-11 23:42] jakewilliami commented on #89
It's because I didn't actually update the registry...I only thought it was updated (because I thought that's what it does every time I run `using Pkg`...

Needed to update
[code]
Then check if I can install the latest version with
[code]

Thank you for your help and patience!

[2020-06-11 23:42] #89 closed

[2020-06-12 04:27] jakewilliami opened #90 "Bug: no method matching read_internal_stream_data(::IOStream, ::CosDict, ::Base.GenericIOBuffer{Array{UInt8,1}})"
Once again I am recursively reading PDFs and I am trying to use this tool.  However, I get to the attached pdf and it throws this error:
[code]

Any idea why?

Thanks for all the work you do on this!  It really is excellent.

[1.0 (Limits and Continuity).pdf](https://github.com/sambitdash/PDFIO.jl/files/4768745/1.0.Limits.and.Continuity.pdf)

[2020-06-12 04:31] jakewilliami opened #91 "OpenSSL warning upon `using PDFIO`"
I notice #73 adds the library OpenSSL.  However, after updating from `v0.1.7` to `v0.1.9`, I get this message every time I import `PDFIO`:

[code]

I've never seen this message printed (except for the `precompiling` bit) when using `using`.

[2020-06-12 04:49] sambitdash commented on #91
This is behavior is expected as the package dependency of zlib precompiled files are created for Julia 1.3+ and pre 1.3 builds the deps/build.jl files are used.

https://github.com/sambitdash/PDFIO.jl/blob/f8c990eb6caf6019570e6179235dcffc76ffee35/src/Inflate.jl#L48

Modifying this behavior will make the package unsupported for Julia 1.0 version which is an LTS version for Julia and thus make the p

[2020-06-12 04:50] sambitdash commented on #91
The same applies for OpenSSL as well. The warning is typically reported once.

https://github.com/sambitdash/PDFIO.jl/blob/f8c990eb6caf6019570e6179235dcffc76ffee35/src/LibCrypto.jl#L1

[2020-06-12 04:58] jakewilliami commented on #91
This warning is reported every time I use `PDFIO`.  I will add the above into the `LibCrypto.jl` file.  Do you know where this is found?  It does not seem to be in `~/.julia/packages/PDFIO/` or `~/.julia/compiled/PDFIO/`.

[2020-06-12 05:20] sambitdash commented on #91
The above is added to PDFIO already. And only reported when the PDFIO has to be compiled. The packages are stored in the ~/.julia/packages/PDFIO/<magic> folder. But for editing the package you will need to checkout the PDFIO in the dev mode. Please look into package management of Julia to understand those.

The simplest will be  `]add OpenSSL_jll` before you call `using PDFIO`.

[2020-06-12 05:38] sambitdash commented on #90
[file.txt](https://github.com/sambitdash/PDFIO.jl/files/4768924/file.txt)

I see no issues in my set up. Can you check if you are using the current versions.

[2020-06-12 05:51] sambitdash commented on #90
You can follow the following steps.

1. Create a fresh directory.
2. `$ julia`
3. `julia> ]activate .`
4. `(dir) pkg> add PDFIO`
5. `julia>  getPDFText("file.pdf", "file.txt")`

Now upload any errors you see. Alongwith your error send me the `Project.toml` and `Manifest.toml` files. And also versioninfo(). Following is an output from my machine.

[code]

[2020-06-12 07:09] jakewilliami commented on #90
### I followed your steps

I followed your steps and *they worked*.  So I was very confused why this wasn't working.  I found out that **the file that was throwing the error was not the one I originally sent**—sorry!!

### So I followed your steps again with the new file (find directory (compressed) attached):

1. `$ mkdir ~/Desktop/test`
2. `$ cd ~/Desktop/test/`
3. `$ mv file.pdf ~/Desktop/test/

[2020-06-12 07:17] jakewilliami commented on #90
[test.zip](https://github.com/sambitdash/PDFIO.jl/files/4769309/test.zip)

[2020-06-12 22:17] jakewilliami commented on #91
Do I need to `Pkg.add("OpenSSL_jll")` before `using PDFIO` every time to suppress this warning?  Because I have added `OpenSSL_jll` but the warning keeps showing up.

[2020-06-13 14:55] sambitdash commented on #90
The bug is due to the length for stream objects are indirect objects embedded in the Object Streams. The current implementation does not look for the length attribute in the object streams.

[2020-06-13 18:49] sambitdash commented on #90
Fix in https://github.com/sambitdash/PDFIO.jl/commit/c8c3c5795af6daebb38731aa2ffc202ea3949b19
[file.txt](https://github.com/sambitdash/PDFIO.jl/files/4775244/file.txt)

[2020-06-13 18:49] #90 closed

[2020-06-13 18:59] sambitdash commented on #91
There is no functionality loss due to this issue and there is just a mere annoyance. So there is no urgency on fixing this.

[2020-07-26 18:09] EddieCueto opened #92 "ERROR: MethodError: no method matching String(::PDFIO.Cos.CosIndirectObject{CosName})"
I get this error while using pdPageExtractText on this pdf on page 6 only which is a bit strange
[Neural Ordinary Differential Equations.pdf](https://github.com/sambitdash/PDFIO.jl/files/4978114/Neural.Ordinary.Differential.Equations.pdf)

[2020-07-28 01:35] sambitdash commented on #92
Fixed https://github.com/sambitdash/PDFIO.jl/commit/b9163b04d5c995c044991867555cb424346c4dbf

[2020-07-28 01:35] #92 closed

[2020-07-29 12:45] sambitdash commented on #52
@JuliaRegistrator register()

[2020-07-29 12:46] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/18669](https://github.com/JuliaRegistries/General/pull/18669)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-25 11:58] aviks commented on #91
@sambitdash why don't you just add `Zlib_jll` and `OpenSSL_jll` to this project's `Project.toml`. JLL packages are safe to install even with Julia 1.0 .. they are a no-op when installing on older versions of Julia. In general, installing packages at runtime is not a great idea.

Ideally, I'd just support Julia 1.3 and above in this package, but of course you may have your reasons to support 1.0 an

[2020-10-25 16:28] sambitdash commented on #91
Thanks @aviks. https://github.com/sambitdash/PDFIO.jl/commit/57e2c068e009c163c119f39b28a22787cd78b85f should fix this now.

[2020-10-25 16:28] #91 closed

[2020-11-09 22:01] Nosferican commented on #17
Is there any way to currently do this?

[2020-11-09 22:07] Nosferican commented on #55
Is there an example of how to extract all bold text in a pdf page?

[2020-11-11 06:30] sambitdash commented on #17
Not really. You can manually estimate every textrun and see if they form a column. The specification does not provide any structural hints for the same.

[2020-11-11 06:35] sambitdash commented on #55
Use `pdFontIsBold` instead of `pdFontIsItalic` in the code.

[2020-11-12 18:56] Nosferican commented on #55
I ended up working with the text itself but it would be nice to have a code snippet / example from the PDF page to running the custom `pdPageExtractText`.

[2021-01-11 05:48] DilumAluthge opened #93 "New release?"
The latest registered release (v0.1.10) cannot be `import`ed on the latest Julia nightly.

However, the master branch `PDFIO#master` is able to be `import`ed on Julia nightly.

Therefore, could we get a new release of PDFIO?

[2021-01-11 06:20] DilumAluthge opened #94 "ERROR: Found 'j(106)' Expected 'x' here"
I have two almost identical files, foo.pdf and bar.pdf. I can open them both in a PDF viewer.

I cannot open bar.pdf in PDFIO.jl, but I can open foo.pdf in PDFIO.jl. See the log below.

I can't share the PDF files publicly, but I'd be happy to email them to you if you like.

[code]

I am on the `master` branch of PDFIO.jl, i.e. I installed it with `] add PDFIO#master`.

And the PDFIO.jl tests pass

[2021-01-11 08:48] sambitdash commented on #94
@DilumAluthge what you call as identical PDF files are differentiated by the scheme you mentioned in your post on discourse recently. Sorry, I am presuming you are the same person.

https://discourse.julialang.org/t/renumbering-pdf-files-can-this-be-implemented-with-pdfio-jl-instead/53144

I will not be surprised PDFs generated by your code will have wrong cross references and are corrupt from a P

[2021-01-11 08:59] sambitdash commented on #93
Packages are not kept aligned to nightly ever. They are only built once a stable version is released. If the version in the nightly built requires another version of Julia then a new version shall be released. Hence, closing this as we do not normally keep compliance with the nightly version of Julia.

[2021-01-11 08:59] #93 closed

[2021-01-11 09:04] DilumAluthge commented on #94
Actually, in my

[2021-01-11 09:09] DilumAluthge commented on #94
Actually, I still get this error even without running the code in my Discourse comment.

If `bar.pdf` has this:
[code]

And `foo.pdf` has this:
[code]

And there are no other differences between the files, then PDFIO can load bar.pdf but not foo.pdf.

This should be legal, right? You are allowed to add whitespace inside a dictionary? At least, that's what it says here: https://www.oreilly.com/libr

[2021-01-11 09:17] DilumAluthge commented on #94
Also, this works:
[code]

But this errors:
[code]

And again, the example [here](https://www.oreilly.com/library/view/developing-with-pdf/9781449327903/ch01.html#example_1-6) seems to imply that you are allowed to strip out the whitespace inside a dictionary.

[2021-01-11 09:18] sambitdash commented on #94
Ensure you have fixed the cross reference tables and/or dictionaries after you add the any whitespaces. The same chapter tells you how to update the cross reference tables. PDF objects are located based on the object offsets from cross reference tables.

[2021-01-11 09:22] #94 closed

[2021-01-11 09:23] DilumAluthge commented on #94
Thanks!

Does PDFIO have any functionality for generating the cross-reference table? Or do I need to do it manually?

[2021-01-11 09:29] DilumAluthge commented on #94
I.e. is there a function that would parse the entire PDF file, make a list of all the indirect objects, and output the table?

Thanks for all of your help, both here and on Discourse! As you can tell, I am very new to working with PDF files.

[2021-01-16 16:14] Nosferican opened #95 "Precompilation issue with Julia v1.6"
When precompiling PDFIO with Julia v1.6 it has just keep hanging for hours. Tested it with Julia `v1.6.0-beta1` and PDFIO `v0.1.10`.

[2021-01-16 16:42] sambitdash commented on #95
@Nosferican we will review the PDFIO compatibility issues with any release of Julia after the version is generally available.

[2021-01-16 16:50] Nosferican commented on #95
I suspect the issue might be due to some change in the pre-compilation / artifacts system so it would be good to address it while in beta so it can be fixed for the release candidate (in case the issue is in Base or a stdlib and not in this package). The v1.6 beta has binary files to install from the website https://julialang.org/downloads/#upcoming_release. The beta version is also available to u

[2021-01-16 19:43] sambitdash commented on #52
@JuliaRegistrator register

[2021-01-16 19:43] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/28090](https://github.com/JuliaRegistries/General/pull/28090)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-16 19:57] JuliaTagBot opened #96 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-01-16 20:23] sambitdash commented on #96
Tagbot fix

[2021-01-16 20:24] sambitdash commented on #96
TagBot fix

[2021-01-17 04:01] sambitdash commented on #95
It's already captured and can be seen in the logs:

https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_hash/56ff37a_vs_ebcc603/PDFIO.1.6.0-beta1-73f862b30f.log

The issue known and already has been addressed in the trunk and now tagged as v0.1.11 and should work normally.

Since, there was a failure across version due to an access issue to test link, I fixed it and released version

[2021-01-17 04:54] sambitdash commented on #93
tag v0.1.11 should address the nightly build issue.

[2021-01-17 14:38] Nosferican commented on #95
🙏

[2021-01-17 14:38] #95 closed

[2021-01-17 18:05] sambitdash commented on #52
@JuliaRegistrator register()

[2021-01-17 18:05] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/28140](https://github.com/JuliaRegistries/General/pull/28140)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-04 10:40] diegozea opened #97 "Bad PDF files which have junk characters before header and after EOF marker error unexpected character."
Hi! I found the `Unexpected character` error while parsing many of my PDFs. Here is one example of a PDF giving me that error: https://drive.google.com/file/d/1YXdN7TfwK87_5ekbUElYRFOkVLifKj1F/view?usp=sharing

[code]

My system is:

[code]
[code]

I really appreciate any help you can provide.

Best regards,

[2021-05-04 11:14] sambitdash commented on #97
The file is corrupt. The PDF file must start with %PDF and with %%EOF. While some readers take a lenient stand on it, one cannot say that is the right approach. Anyway I fixed the file and uploading here for reference.
[fixed.pdf](https://github.com/sambitdash/PDFIO.jl/files/6420669/fixed.pdf)

[2021-05-04 11:29] diegozea commented on #97
Thank you so much for the quick answer. I am having this error with the 75% of my files. Would it be possible to have some keyword argument for allowing parsing this kind of files? Something like `permisive=true`, but being `false` by default?

[2021-05-04 13:21] sambitdash commented on #97
These files are not according to the PDF spec. So technically, the behavior of a parser on corrupt files cannot be guaranteed and cannot be something that should be tried to fix in a huff. While I will keep in mind to update the parser to handle some bad files, I cannot make it a guranteed feature in the product. For now you can manually remove the bad MIME corruptions in the file manually and wor

[2021-05-04 22:35] diegozea commented on #97
Thank you very much! There is no hurry at all :D

[2021-07-21 03:50] Nosferican opened #98 "Support for AbstractTrees v0.3"
The test for `Outlines` fails with AbstractTrees v0.3 fixing it at v0.2. This makes it that other packages that rely on the dependency like DataFrames.jl are held back at v0 preventing it from using v1 in the same environment. Would be nice if the issue can be fixed such that the deps can allow for AbstractTrees v0.3. Thanks!

PS: BinDeps v1 seems to be working with the package w/no issues.

[2021-07-21 03:54] sambitdash commented on #98
@Nosferican feel free to send a PR if you have a solution that can address the issue.

[2021-07-21 04:12] Nosferican commented on #98
I tried to see if it was something trivial but couldn't tell how exactly how AbstractTrees was impacting the test case.

[2021-07-21 16:57] sambitdash commented on #98
Fixed in: https://github.com/sambitdash/PDFIO.jl/commit/64628309fea6e8f00834072a1ebd25760b8952f6

[2021-07-21 16:57] #98 closed

[2021-07-21 18:14] sambitdash commented on #52
@JuliaRegistrator register()

[2021-07-21 18:15] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/41287](https://github.com/JuliaRegistries/General/pull/41287)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-08-18 16:49] bdeonovic opened #99 "AssertionError: Invalid interval"
What does this error mean?

[code]

[2021-08-18 17:10] sambitdash commented on #99
The font enconding mapping to unicode used in PDF has issues. Please share the file to investigate.

[2021-08-18 17:54] bdeonovic commented on #99
A few comments:

1. I printed one page of the pdf (print to pdf on windows) which was causing the error so I could post it here as an example. However, when I tried to run the extract on this 1 page example the extract worked.
2. The extract doesn't correctly extract the text. The first sentence should be:

U ovoj je knjizi riječ pretežito o hobitima i iz nje će čitatelj doznati štošta o njihovu
z

[2021-08-18 18:44] sambitdash commented on #99
I would believe you have some issues related to the font encoding in the file. If I open the file in Adobe Reader and select and  copy the text I see exactly below. Which is close to what you are observing. This happens when the font toUnicode c-maps are not properly transferred. The extract text works on the same principle of copying and pasting text from a PDF file.

1 O hobitima
U ovoj je knjiz

[2021-08-19 18:28] sambitdash commented on #99
I will need to investigate the original file with the C-Map to realize why the file does not get transmitted properly. Please share it here, if possible. If there are security concerns you can mail me at: sambitdash at gmail

[2021-08-19 18:43] bdeonovic commented on #99
email sent

[2021-12-06 00:22] hhaensel opened #100 "RomanNumerals fixed"
I've merged the open issues in RomanNumerals.jl so that PDFIO is now compatible with Julia 1.7
- https://github.com/anthonyclays/RomanNumerals.jl/issues/12
- https://github.com/anthonyclays/RomanNumerals.jl/issues/13
- https://github.com/anthonyclays/RomanNumerals.jl/pull/11
- https://github.com/anthonyclays/RomanNumerals.jl/pull/15
- https://github.com/anthonyclays/RomanNumerals.jl/pull/16
- http

[2022-01-15 20:00] dannywinrow opened #101 "Part of AGL specification not implemented"
I tried to run pdPageExtractText on the pdf located:
https://www.gov.im/media/1360682/isle-of-man-inflation-report-november-2021.pdf

However, every character of the text was being interpreted as "\0"

After much pain and effort trailing through the PDFIO code, I have identified the problem as being what is returned by the fum function in PDFont.  In particular when the cn"Encoding" object contain

[2022-01-16 02:52] dannywinrow commented on #101
I have updated this issue, since I think I have found the crux of the problem which is that PDFIO is missing part of the [AGL specification](https://github.com/adobe-type-tools/agl-specification) which states that you first match to AGL, and if no match then you test whether it is a unicode character of the form uniXXXX or uXXXX (see specification for general case and restrictions)

You are curren

[2022-01-31 10:53] nilshg opened #103 "Error in `merge_encoding!` when extracting text"
In following the "interactive usage" demo in the readme, I end up with an error when trying to extract the text:

[code]

Unfortunately I can't share the pdf - is there anything I can do to diagnose this? This is using Julia 1.7.1 on Windows 10, with PDFIO at version 0.1.13

[2022-01-31 11:00] nilshg commented on #103
As an additional data point, R's `pdftools` can extract the text using its `pdf_text` function

[2022-01-31 11:15] sambitdash commented on #103
Share the call stack. But that is not enough information but something to look at.

[2022-01-31 11:29] nilshg commented on #103
Sorry, appreciate this isn't ideal without being able to share the document! Here's the full stack:

[code]

[2022-01-31 13:00] sambitdash commented on #103
Seriously, I need to see this document.

`cosDocGetObject` does not return an indirect object. Unless I see the document I will be scared to do any changes to the code.

You can mail me at: sambitdash -at- gmail -dot- com if it's ok. I promise to delete the document once I address the issue.

[2022-01-31 13:52] nilshg commented on #103
Sorry, the document is part of disclosure in litigation, it would be illegal for me to share it with third parties. Unless there's any further (nonidentifiable) information I can extract from the document that would help you narrow the issue down I guess I'll just have to close this and begrudgingly use R!

[2022-01-31 14:00] sambitdash commented on #103
Can you provide the `pdDocGetInfo` dump? At least I can look at the creator and decide if I can access that software and create a PDF through that and see what may be going wrong.

[2022-01-31 14:08] sambitdash commented on #103
You can add this code in your code and it will work as a workaround:
[code]

Unfortunately, I cannot add this code to the production build unless I understand why such a change is needed.

[2022-01-31 15:14] sambitdash commented on #103
I cannot access NetWeaver for sure.

Sorry, try this then.

[code]

[2022-01-31 15:40] nilshg commented on #103
With this change I get:

[code]

[2022-01-31 15:44] sambitdash commented on #103
In that case, it will be hard for me to guess a solution.

[2022-01-31 15:46] nilshg commented on #103
No worries, I'll just have to use R in that case - sorry I can't do more and thanks for trying!

[2022-01-31 15:46] #103 closed

[2022-05-09 07:04] hhaensel commented on #2
I have written some lines of code to extract tabular data. Currently it is keyword based to determine the textlayouts to include. I also managed to make short IJulia notebook where you can interactively select text in a Plotly chart.
@sambitdash Would you be interested in including that code in your package?
Otherwise I might release my own package but I feel that this functionality would nicely f

[2022-05-09 16:17] sambitdash commented on #2
@hhaensel thank you for your interest. I want to understand what level of complex cases can this software handle. If you submit a PR, I can review it and let you know if they are useful for this SDK.

[2022-05-09 20:54] hhaensel commented on #2
Sounds perfect, I'll submit a PR tomorrow.
The code extracts a vector of TextLayouts as a function of page(s) and keywords, then scans for common elements in rows and columns as a function of their layout box. The layout boxes can be scaled in order to reduce the probability of overlapping areas. Optionally a Plotly graph displays the elements and their recognised arrangement with a color code.

L

[2022-05-18 19:39] hhaensel commented on #2
Sorry, currently in overload, will take some more time ...

[2022-08-25 15:52] sambitdash commented on #52
@JuliaRegistrator register()

[2022-08-25 15:52] JuliaRegistrator commented on #52
Registration pull request created: [JuliaRegistries/General/67066](https://github.com/JuliaRegistries/General/pull/67066)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-08-25 15:55] #100 closed

[2022-08-25 16:12] sambitdash commented on #54
#105 fixes a few cases.

[2022-10-17 15:20] hhaensel opened #107 "Text extraction ignores different kinds of white spaces"
Currently, all white space characters in a textbox are merged into a single space character (`' '`)
This makes it very difficult to extract tabular data.

In #106, I propose to introduce an extraction mode parameter that allows the user to chose between three extraction modes.
- `:spaces` (default)
  all white spaces are handled as a single space character
- `:tabs`
  non-space white spaces are ha

[2022-10-20 06:21] digital-carver commented on #4
Hi! There's a question on Stackoverflow about [reading scanned PDFs](https://stackoverflow.com/questions/74134131/in-julia-how-to-read-a-scanned-multipage-pdf-and-convert-to-image-for-ocr), where I believe the goal is to extract images out from a PDF. Is that the functionality this issue is about? Could you expand on what

would look like in practice?

[2022-11-15 13:51] sambitdash commented on #99
@bdeonovic Sorry for my delay in looking into the file. The CMap file in the PDF is not aligned to the spec. Figure-6 in the attached spec.

That's the reason some readers behave differently. While I will try to repair the cmap for a special case, this is not the correct approach. Code space ranges are rectangular regions in the byte plane and not numbers.

[code]
is the CMap. As per the CMap spec

[2022-11-15 15:07] sambitdash commented on #99
On Page-6 of the document you shared, I get:

         U ovoj je knjizi riječ pretežito o hobitima i iz nje će čitatelj doznati štošta o njihovu
         značaju i nešto malo o njihovoj povijesti.

This is what you are expecting. While I have introduced a workaround in the code, this is not the code as per spec.

[2022-11-15 17:47] sambitdash commented on #99
https://github.com/sambitdash/PDFIO.jl/commit/9ed161f478ba4e631e9fe6d7babc91d810ceed1e fixes this now.

[2022-11-16 17:16] sambitdash commented on #97
A fix in https://github.com/sambitdash/PDFIO.jl/commit/4a4f0713d840fa6db74b24a25ae4c35cf792d412

[2022-11-16 17:16] #97 closed

[2022-11-18 11:28] vargonis commented on #17
On a related note, since by the nature of the format the output of `pdPageExtractText` is not fully determined, it would be useful to:
1. Have access to character level information (font, bounding box and so on).
1. Document what the word inference and ordering heuristics are.

[2022-11-18 11:45] sambitdash commented on #17
@vargonis you can use `pdPageEvalContent` and get the content tree. The content tree has all the bounding box information at a text run level.

[2022-11-20 16:32] sambitdash commented on #101
https://github.com/sambitdash/PDFIO.jl/commit/6367aa667fa37b1cb653a165e3957bd5e1b1b6d9 Fixes it but no test cases are added as the file is no longer accessible.

[2022-11-20 16:32] sambitdash commented on #101
Add test cases for AGL.

[2022-11-22 19:29] sambitdash commented on #101
[isle-of-man-inflation-report-november-2021.pdf](https://github.com/sambitdash/PDFIO.jl/files/10070475/isle-of-man-inflation-report-november-2021.pdf)
Adding a copy of the file which I got by Googling. But, this version does not have an AGL code. The suggested file is no longer on the site.We need to look for a better test file.